.popup_figures {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);

  animation-name: showAnimation;
  animation-duration: 1s;
  opacity: 1;
}

.popup_figures_inner {
  position: absolute;
  left: 20%;
  right: 20%;
  top: 35%;
  bottom: 50%;
  margin: auto;
  width: auto;
  height: auto;
  max-width: 600px;


  .text-area {
    padding-top: 20px;
    background: #c6ecc6;
    text-shadow: 2px 1px 3px #282c34;
    text-align: left;
    border-color: #282c34;
    border-style: inset;
    border-radius: 0.5rem;
    border-width: 7px;
    font-size: 100px;
    color: white;

    .black-font {
      color: black;
    }

    .figure {
      border-bottom: solid #c6ecc6;
      margin-bottom: 15px;
      border-radius: 1rem;

      img {
        width: 8vw;
        height: 8vw;
        max-height: 8vh;
        max-width: 8vh;
      }
    }

    .black-hover:hover {
      border-bottom: solid black;
    }

    .white-hover:hover {
      border-bottom: solid white;
    }
  }


  @media all and (max-width: 768px) {
    .text-area {
      font-size: 70px;
    }
  }

  @media all and (max-width: 640px) {
    .text-area {
      font-size: 60px;
    }
  }

  @media all and (max-width: 450px) {
    .text-area {
      font-size: 45px;
    }
  }

  @media all and (max-width: 300px) {
    .text-area {
      font-size: 30px;
    }
  }

  @media all and (max-width: 200px) {
    .text-area {
      font-size: 20px;
    }
  }


}
