<div class="boardLayout" *ngIf="fieldMatrix">

  <div class="middleContainer">
    <ul>
      <li *ngFor="let row of fieldMatrix | keyvalue">
        <div class="fieldColumn">
          <ul *ngIf="row.value">
            <li *ngFor="let field of row.value | keyvalue">
              <app-field  [field]="field.value"></app-field>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>

  <div class="topBordDescription">
    <ul class="ulX">
      <li *ngFor="let x of coordinate.x">
        <div id="{{x + '_top'}}" class="coordinate"> {{x | uppercase}} </div>
      </li>
    </ul>
  </div>

  <div class="rightBordDescription">
    <ul class="ulY">
      <li *ngFor="let y of coordinate.y">
        <div id="{{y + '_right'}}" class="coordinate"> {{y | uppercase}} </div>
      </li>
    </ul>
  </div>

  <div class="bottomBordDescription">
    <ul class="ulX">
      <li *ngFor="let x of coordinate.x">
        <div id="{{x + '_bottom'}}" class="coordinate"> {{x | uppercase}} </div>
      </li>
    </ul>
  </div>

  <div class="leftBordDescription">
    <ul class="ulY">
      <li *ngFor="let y of coordinate.y">
        <div id="{{y + '_left'}}" class="coordinate"> {{y | uppercase}} </div>
      </li>
    </ul>
  </div>

</div>




