<nav class="navbar navbar-light bg-light">
  <!--  <button (click)="this.handleClick($event)">Click Me</button>-->
  <div class="container">

    <!--    <div>-->
    <!--      <span class="navbar-brand mb-0 h1">Chess</span>-->
    <!--    </div>-->

    <div class="">
      <label class="switch">
        <input class="switch-input" type="checkbox" checked (click)="handleBot()"/>
        <span class="switch-label" data-on="BOT ON" data-off="BOT OFF"></span>
        <span class="switch-handle"></span>
      </label>
    </div>

    <div class="">
      <button type="button" class="btn btn-dark" (click)="this.switchPlayer()">Switch Player</button>
    </div>

    <div class="">
      <button type="button" class="btn btn-dark" (click)="this.createGame()">Create a new Game</button>
    </div>

    <div>
      <app-clock></app-clock>
    </div>

  </div>

</nav>
