.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);

  animation-name: showAnimation;
  animation-duration: 1s;
  opacity: 1;
}

.popup_inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 20%;
  right: 20%;
  top: 20%;
  bottom: 20%;
  //max-width: 500px;
  //min-width: 110px;
  margin: auto;
  color: white;
  border-top-color: brown;
  border-left-color: brown;
  border-right-color: sandybrown;
  border-bottom-color: sandybrown;
  background: #282c34;
  border-style: solid;
  border-radius: 0.5rem;
  border-width: 5px;
  width: 50vw;
  height: 25vw;
  max-height: 25vh;
  max-width: 50vh;


  p {
    text-wrap: none;
    font-size: 4vw;
    margin: 10px;
  }

}

.hideWin {
  display: none;
}


.player {
  color: rgb(252, 222, 110);
}


@keyframes showAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes showAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

