<div *ngIf="showResult" (click)="this.hideWinnerPopup()" class="popup" id="winnerPopup">
  <div class="popup_inner">
    <div class="d-flex flex-column bd-highlight align-items-center m-4">
      <div *ngIf="winner == true">
        <div class="text-area">
          <div *ngIf="this.winnerColor=='BLACK'">
            <div class="black-font">
              {{winnerColor}}
            </div>
            <div>
              won
              <br>
              the Game
            </div>
          </div>
          <div *ngIf="this.winnerColor=='WHITE'">
            <div>
              {{winnerColor}}
            </div>
            <div class="black-font">
              won
              <br>
              the Game
            </div>
          </div>
        </div>

      </div>
      <div *ngIf="remis == true">
        <div class="text-area">
          <div>
            <div>
              we have a
            </div>
            <div class="black-font">
              remis
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



