<div *ngIf="showResult" (click)="this.hideWinnerPopup()" class="popup" id="winnerPopup">
  <div class="popup_inner">
    <div class="d-flex flex-column bd-highlight align-items-center m-4">
      <div class="text-area">

        <div *ngIf="winner == true">
          <div>
            <div>
              <div [ngClass]="(this.winnerColor == 'BLACK')? 'black-font':''">
                {{winnerColor}}
              </div>
              <div
                [ngClass]="(this.winnerColor == 'BLACK')? '':'black-font'">
                won
                <br>
                the Game
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="remis == true">
          <div>
            <div>
              <div>
                We have a
              </div>
              <div class="black-font">
                remis
              </div>
            </div>
          </div>
        </div>

        <div class="time">
          <div
            [ngClass]="(this.winnerColor == 'BLACK')? 'black-font':''">
            Your needed
            <br>
            time
          </div>
          <div
            [ngClass]="(this.winnerColor == 'BLACK')? 'time ':'time black-font'">
            {{this.gameHandlerService.duration}}
          </div>
        </div>
      </div>

    </div>
  </div>
</div>



