
.field {
  //word-break: break-word;
  overflow: hidden;
  color: white;
  width: 8vw;
  height: 8vw;
  max-height: 8vh;
  max-width: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px #282c34;
}

.SANDYBROWN {
  background: sandybrown;
}

.BROWN {
  background: brown;
}

.lastMoveSource {
  background: lightgray;
}
.lastMoveTarget {
  background: grey;
}
.possibleMove {
  border: dashed 3px #282c34;
}

.clicked {
  background: dodgerblue;
}

.field:hover {
  background: dodgerblue;
}


//.fieldColumn {
//  ul {
//    display: flex;
//    flex-direction: column;
//    padding: 0;
//    margin: 0;
//
//    li {
//      display: flex;
//      border: solid 2px #282c34;
//      list-style: none;
//    }
//  }
//}
//.field {
//  width: 100%;
//  height: 0;
//  padding-bottom: 100%;
//  word-break: break-word;
//  overflow: hidden;
//  color: white;
//}
//.sandybrown {
//  background: sandybrown;
//}
//.brown {
//  background: brown;
//}








