
<ng-template [ngIf]="field['fieldColor'] === 'BROWN'">
  <div class="field brown">
    <ng-template [ngIf]="this.figure != null">

      <app-figure [figure]="this.figure"></app-figure>

    </ng-template>
  </div>
</ng-template>

<ng-template [ngIf]="field['fieldColor'] === 'SANDYBROWN'">
  <div class="field sandybrown">
    <ng-template [ngIf]="this.figure != null">

      <app-figure [figure]="this.figure"></app-figure>

    </ng-template>
  </div>
</ng-template>




<!--<ng-template [ngIf]="field['fieldColor'] === 'BROWN'">-->
<!--  <div class="field brown" (mouseover)="this.markupDesignation(this.field)" (mouseleave)="removeMarkupDesignation()">-->
<!--    <ng-template [ngIf]="this.figure != null">-->

<!--      <app-figure [figure]="this.figure"></app-figure>-->

<!--    </ng-template>-->
<!--  </div>-->
<!--</ng-template>-->

<!--<ng-template [ngIf]="field['fieldColor'] === 'SANDYBROWN'">-->
<!--  <div class="field sandybrown" (mouseover)="this.markupDesignation(this.field)" (mouseleave)="removeMarkupDesignation()">-->
<!--    <ng-template [ngIf]="this.figure != null">-->

<!--      <app-figure [figure]="this.figure"></app-figure>-->

<!--    </ng-template>-->
<!--  </div>-->
<!--</ng-template>-->


<!--<div class="fieldColumn">-->
<!--  <ul *ngIf="fieldColumn">-->
<!--    <li *ngFor="let field of fieldColumn | keyvalue">-->

<!--      <ng-template [ngIf]="field.value.fieldColor == 'BROWN'">-->
<!--        <div class="field brown">-->
<!--          {{field.key}}-->
<!--          {{field.value.fieldColor}}-->
<!--        </div>-->
<!--      </ng-template>-->

<!--      <ng-template [ngIf]="field.value.fieldColor == 'SANDYBROWN'">-->
<!--        <div class="field sandybrown">-->
<!--          {{field.key}}-->
<!--          {{field.value.fieldColor}}-->
<!--        </div>-->
<!--      </ng-template>-->

<!--      &lt;!&ndash;    {{row.key}} &ndash;&gt; {{row.value}}&ndash;&gt;-->
<!--    </li>-->
<!--  </ul>-->
<!--</div>-->

