<div *ngIf="showResult" (click)="this.hideWinnerPopup()" class="popup" id="winnerPopup">
  <div class="popup_inner">
    <div class="d-flex flex-column bd-highlight align-items-center m-4">
      <div class="text-area">

        <div *ngIf="winner == true">
          <div>
            <div>
              <div [ngClass]="(this.winnerColor == 'BLACK')? 'black-font':'white-font'">
                {{winnerColor}}
              </div>
              <div
                [ngClass]="(this.winnerColor == 'BLACK')? 'white-font':'black-font'">
                won the Game
              </div>
            </div>
            <div class="time">
              <div
                [ngClass]="(this.winnerColor == 'BLACK')? 'black-font':'white-font'">
                Your needed time
              </div>
              <div
                [ngClass]="(this.winnerColor == 'BLACK')? 'time white-font':'time black-font'">
                {{this.gameHandlerService.duration}}
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="remis == true">
          <div>
            <div>
              <div class="remis">
                Remis
              </div>
              <div class="black-font">
                {{this.remisReason}}
              </div>
            </div>
            <div class="white-font">
              <div>
                Your needed time
              </div>
              <div class="black-font">
                {{this.gameHandlerService.duration}}
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>



