.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);

  animation-name: showAnimation;
  animation-duration: 1s;
  opacity: 1;
}

.popup_inner {
  position: absolute;
  left: 20%;
  right: 20%;
  top: 50%;
  bottom: 50%;
  margin: auto;
  background: #51A351;
  opacity: 0.9;
  border-color: #282c34;
  border-style: inset;
  border-radius: 0.5rem;
  border-width: 7px;
  width: 55vw;
  height: 35vw;
  max-height: 35vh;
  max-width: 55vh;

  .text-area {
    padding: 20px 0 12px 5px;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    word-break: keep-all;
    text-shadow: 2px 1px 3px #282c34;
    text-align: left;
    font-size: 100px;

    .time {
      //margin-top: 7px;
    }

    .white-font {
      color: white;
    }

    .black-font {
      color: black;
      //font-size: 75px;
    }

  }

  @media all and (max-width: 768px) {

  }

  @media all and (max-width: 640px) {

  }

  @media all and (max-width: 450px) {

  }

  @media all and (max-width: 300px) {

  }

  @media all and (max-width: 200px) {

  }
}



.hideWin {
  display: none;
}


.player {
  color: rgb(252, 222, 110);
}


@keyframes showAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes showAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

