
<app-ending></app-ending>

<div class="boardLayout" *ngIf="boardMatrix$">

  <div class="middleContainer" (mouseleave)="coordinateService.removeMarkupDesignation()">
    <ul [ngClass]="(this.alertCheck) ? 'checkLine':'line'">
      <li *ngFor="let column of boardMatrix$ | keyvalue">
        <div class="fieldColumn">
          <ul *ngIf="column.value">
            <li *ngFor="let field of column.value | keyvalue">
              <app-field
                      [field$]="field.value"
                (clickOnFieldEvent$)="onFieldClick($event)"
                [possibleFieldsEvent$]="possibleFieldsEvent$">
              </app-field>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>

  <div class="topBordDescription">
    <ul class="ulX">
      <li *ngFor="let x of coordinate$.getValue().x">
        <div id="{{x + '_top'}}" class="coordinate"> {{x | uppercase}} </div>
      </li>
    </ul>
  </div>

  <div class="rightBordDescription">
    <ul class="ulY">
      <li *ngFor="let y of coordinate$.getValue().y">
        <div id="{{y + '_right'}}" class="coordinate"> {{y | uppercase}} </div>
      </li>
    </ul>
  </div>

  <div class="bottomBordDescription">
    <ul class="ulX">
      <li *ngFor="let x of coordinate$.getValue().x">
        <div id="{{x + '_bottom'}}" class="coordinate"> {{x | uppercase}} </div>
      </li>
    </ul>
  </div>

  <div class="leftBordDescription">
    <ul class="ulY">
      <li *ngFor="let y of coordinate$.getValue().y">
        <div id="{{y + '_left'}}" class="coordinate"> {{y | uppercase}} </div>
      </li>
    </ul>
  </div>

</div>




